@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Inter:wght@200;700&display=swap');

body{
    width: 900px;
    margin: 0 auto;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 120px;
    border: 1px solid black;
}

h1{
    font-family:'Inter', sans-serif;
    font-size: 30px;
    text-align: center;
 
    
}


h2{
    text-align: center;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font font-weight: 800;
    

    
}

p{
    text-align: center;
    font-family: 'EB Garamond', serif;;
}

div{
   margin: 0 auto; 
    display: flex;
    flex-direction: column;
        
   
}

img{
    color: black;
}

h3{
    font-family: 'Inter', sans-serif;
text-align: center;
}

.piedefoto{
    font-family:'Inter', sans-serif;
    width: 200;
}